<h1><%= @neighborhood.name %></h1>
<p><%= @neighborhood.description %></p>

<h3>Reviews</h3>
<ul>
<% @neighborhood.reviews.each do |review| %>
  <li>
    <strong>Rating: <%= review.rating %></strong><br>
    <%= review.description %>
    <% if !@upvoted.include?(review) %>
      <%= button_to 'Upvote', review_votes_path(review, weight: 1)%>
    <% end %>
    <% if !@downvoted.include?(review) %>
    <%= button_to 'Downvote', review_votes_path(review, weight: -1)%>
    <% end %>
  </li>
<% end %>
</ul>
