<h1>Add a Review for <%=@neighborhood.name%></h1>

<div class="dogface">
  <%= simple_form_for [@neighborhood, @review] do |f| %>
    <%= f.input :description %>
    <%= f.input :rating, collection: 1..10 %><br>
    <%= f.button :submit , class: 'btn btn-primary' %>
  <% end %>
</div>
